* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 30px;
}

p {
    color: #00f;
    font-size: 30px;
    font-weight: bold;
    font-family: Helvetica;

    text-align: center;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}